.container-layout{
    display: flex;
    flex: 1;
    flex-direction: row;
}

.left-layout{
    height: 100%;
    width: 200px;
    background-color: #efefef;
    border-right: 1px solid #ddd;
}

.right-layout{
    flex: 1;
    background-color: #f9f9f9;
}

.recommended-text{
    font-size: 13px;
    color: rgba(0,0,0,0.6);
    padding: 5px 10px;
}

.nav-list{
    font-size: 15px;
    color: rgba(0,0,0,0.8);
    display: flex;
    flex-direction: row;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;
    align-items: center;
}

.list-item-text{
    margin-left: 10px;
}

.nav-list .iconfont-style{
    font-size: 20px;
}

.defulat-style{
    background-color: #efefef;
    border-left: 3px solid #efefef;
}

.selected-style{
    background-color: #fff;
    border-left: 3px solid #ab2402;
}