.Login-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../images/login-bg.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.Login-box {
    width: 400px;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 10px 30px rgba(0, 0, 0, 0.6);
}

/**
   ttf-icon 用法
 */
@font-face {
    font-family: 'cloud';
    src: local('cloud'),
    local('cloud'),
    url(../fonts/iconfont.woff) format('woff');
}

.icon-colud {
    font-family: 'cloud' !important;
    color: red;
    font-size: 30px;
    width: 30px;
    height: 30px;
    font-weight: normal;
    font-style: normal;
}

/*<i className="icon-colud">&#xe64e;</i>*/